# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform working directory
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Ignore Terraform variable files if they contain sensitive data
*.tfvars

# Logs and backups
*.log
*.bak
*.backup

